.tagline{
    color: white;
    font-weight: 700;
    padding-top: 40px;
    text-align: center;
}

.main-container{
    background-image: url("/Media/Images/bg.jpg");
    background-size: 100% 500px;
}

.input-main-container{
    width : 100%;
    height: 400px;
    display: flex;
    overflow-x: auto;
}

h1{
    flex: 100%;
}

.first{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-left: 100px !important;
}

.last{
    margin-right: 100px !important;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.last button{
    height: 100%;
    width: 100%;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: rgb(28, 111, 93);
    color: white;
    font-size: 25px !important;
}

.input-container {
    margin-top: 80px;
    flex: 100% !important;
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 25%;
    width: 50% !important;
}

.icon{
    flex: 10%;
}

.input-box {
    flex: 90%;
}

.icon-img{
    width: 50px;
}

.from-location, .to-location, .date{
    height: 100% !important;
    width: 250px !important;
    border: none !important;
    box-shadow: none;
    font-size: 25px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.search:hover{
    background-color: rgb(10, 96, 77) !important;
    color: white !important;
}

.carousel-container{
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px !important;
}

h3{
    padding-bottom: 20px;
}

.card img{
    padding-top: 10px;
    left: 50%;
    height: 100px;
    width: 100px;
}

.card1{
    margin-left: 20px;
    background-color: rgb(252,237,203) !important;
}
.card2{
    background-color: rgb(203,221,247) !important;
}
.card3{
    background-color: rgb(219,241,227) !important;
}
.card4{
    background-color: rgb(255, 218, 228) !important;
}
.card5{
    background-color: rgb(251, 227, 227) !important;
}

.card{
    border-radius: 10px !important;
    margin-right: 20px;
}

.qns{
    text-decoration: none !important;
    color: black !important;
    font-weight: 700 !important;
}

.accordion .card, .card-header{
    background-color: white !important;
    border-radius: 10px !important;
    border: 0px !important;
    background-color: rgb(248,249,250) !important;
}

.faq-card{
    margin-top: 20px;
    margin-right: 0 !important;
    text-align: justify;
    background-color: rgb(248,249,250) !important;
}

.faq-body{
    padding-left: 10px;
    font-size: 15px !important;
}

.faq-container{
    margin-top: 30px;
    padding: 20px;
}

#footer-placeholder{
    margin-top: 100px;
}