.col2{
    text-align: center;
}

.col3{
    text-align: right !important;
}

.main-ticketlist-container{
    width: 80%;
    margin: auto;
}

.sort-filter-container{
    margin: 20px;
}

.ticket-card{
    margin: 10px;
}

.booked, .not-booked, .cancelled{
    padding: 7px 0px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    color: white;
    font-size: 17px;
}

.booked{
    background-color: rgb(28,111,93);
    color: white;
}

.not-booked{
    background-color: rgb(213, 213, 1);
    color: white;
}

.cancelled{
    background-color: rgb(255, 0, 0);
    color: white;

}

.ticket-button{
    margin-top: 5px;
}

.status_row{
    margin-top: 20px !important;
}

.error-container{
    margin: 40px 20px;
}

select{
    border: 2px solid rgb(210,210,210);
    border-radius: 5px;
}